# Percorso contenente le telemetrie e i tempi sul giro in formato json
JSON_PATH="C:\Users\feder\Documents\datasets\Computazionale\2025"

# Working directory per il progetto
WORK_DIR="C:\Users\feder\Documents\datasets\Computazionale\F1"

# Path dei file processati interamente alla working directory
DATA="data/dataset_completo_best_tel.rds"
